.signup__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup {
  width: 750px;
  border: 1px solid #dadce0;
  border-radius: 7px;
  padding: 40px;
  height: 80vh;
  position: relative;
}
.signup__figure {
  text-align: center;
  margin-right: 0;
}

.signup__figureImg {
  max-width: 100%;
  width: 244px;
  height: 244px;
}

.signup__figcaption {
  font-size: 16px;
  font-weight: 300;
}

.signup__heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
}

.signup__subheading {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.signup__inputs {
  margin-top: 40px;
}

.signup__nameInputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.signup__nameInput {
  margin-right: 10px !important;
}

.signup__passwordInputs {
  margin-top: 10px;
  width: 100%;
}

.signup__passwordWrapper {
  display: flex;
}

.signup__passwordInput {
  margin-right: 10px !important;
}

.signup__helpertext {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.75rem;
  margin-top: 3px;
  font-weight: 400;
  margin-left: 10px;
}

.signup__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.signup__button {
  font-weight: 500 !important;
  text-transform: capitalize !important;
}

.signup__loading {
  position: absolute !important;
  top: 30px;
  left: 10px;
  width: 100% !important;
}

@media (max-width: 665px) {
  .signup {
    width: 80vw;
    border: none;
  }

  .signup__nameInputs {
    display: flex;
    flex-direction: column;
  }
  .signup__nameInput {
    margin-bottom: 20px !important;
  }
  .signup__loading {
    top: -1px;
    left: -30px;
    right: 0;
  }
}

@media (max-width: 850px) {
  .signup {
    padding: 40px;
    width: 50vw;
  }
  .signup__container {
    flex-direction: row;
    position: relative;
  }

  .signup__figure {
    display: none;
  }
}

.signin__error {
  color: #df3a64;
}
