.channel__art {
  width: 100%;
}
.channel__avatar {
  width: 80px !important;
  height: 80px !important;
  margin-right: 20px;
}
.channel__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.channel__avatarWrap {
  display: flex;
  align-items: center;
}
.channel__title {
  font-size: 26px !important;
  font-weight: normal !important;
}
.channel__content {
  height: 100%;
  background-color: #0f0f0f;
  overflow-y: auto;
}
.channel__detailsWrap {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
.channel__subBtn {
  height: 40px !important;
}
.channel__links {
  display: flex;
  width: 50%;
  margin-right: 300px;
  margin-top: 20px;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.channel__link > p {
  color: white;
  opacity: 0.5;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
}
.channel__link:hover > p {
  opacity: 1;
}

.channel__link--active {
  height: 20px;
}

.channel__link__border {
  background-color: #fff;
  height: 2px;
  margin-top: 10px;
  opacity: 0.6;
}
.channel__link--active > p {
  opacity: 1 !important;
}
.channel__contentWrapper {
  margin-left: 140px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.channel {
  overflow-y: scroll;
}
