@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Roboto", arial, sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

.home {
  color: #fff;
  background-color: #181818;
}

.watch--x {
  overflow-y: auto;
}
