.SelectVideo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectvideo__closeIcon {
  cursor: pointer;
  margin-right: 10px;
}

.selectvideo__dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selectvideo__publishWrap {
  background-color: #ebebeb;
  border-radius: 50%;
  padding: 20px;
  width: 100px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.selectvideo__publishIcon {
  font-size: 4rem !important;
  color: #949494 !important;
}

.MuiDialog-paperWidthSm {
  width: 70vw;
  height: 80vh;
  max-width: unset !important;
}

.selectvideo__texts {
  text-align: center;
  margin-top: 40px;
}

.sv__texts__subtitle {
  color: #737373;
  font-size: 13px;
  margin-top: 10px;
}

.sv__texts__prpo {
  max-width: 700px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  font-size: 12px;
  color: #737373;
  line-height: 20px;
}

.custom-file-input {
  outline: none;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  outline: none;
}

.custom-file-input::before {
  margin-left: 70px;
  margin-top: 20px;
  content: "Select files";
  color: white;
  display: inline-block;
  background: #065fd4;
  border-radius: 3px;
  padding: 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto";
  text-transform: uppercase;
}

.custom-file-input:active {
  outline: 0;
}

.add-thumbanil::before {
  content: "Select thumbanil";
  margin: 0;
}
